@{
  Layout = "_Layout";
}


<h1>Welcome to the doctor's office</h1>
<img src="~/assets/doctorgif.gif" id="gif"></span>

@* <nav class="navbar navbar-dark bg-dark">
  <a class="nav-item nav-link">@Html.ActionLink("See all patients", "Index", "Patients")</a>
  <a class="nav-item nav-link active">@Html.ActionLink("See all doctors", "Index", "Doctors")</a>
</nav> *@

